<nav class="navbar">

<div class="logo">

<a href="/"> UnBored</a>

</div>

<ul class="nav-links">

<li><a href="/">Home</a></li>

<li><a href="/dashboard">Discover</a></li>

<li><a href="/saved">Saved</a></li>

</ul>

<div class="nav-buttons">

<a href="/login">Login</a>

<a href="/signup" class="signup">

Sign Up

</a>

</div>

</nav>