<!DOCTYPE html>
<html>
<head>
    <title>Unbored AI</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include("../includes/navbar.ejs") %>

    <main>
        <%- body %>
    </main>

    <%- include("../includes/footer.ejs") %>

</body>
</html>